 /* Inline styles (temporary) */
 .green-text {
    color: #00ff00;
}

.font-mono {
    font-family: monospace;
}

.whitespace-nowrap {
    white-space: nowrap;
}
body {
    background-color: black;
    margin: 0;
}

#animation-container {
    animation: moveText 5s linear infinite;
}

